/*ant-design的公共样式*/
//rewrite ant-design style
// -------- Colors -----------
@primary-color: rgb(75,157,11);

//custom-style
.ant-layout-header{
  background-color: #ffffff;
  height: 4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14) ;
  padding: 0 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
}
.ant-message{
  top: 20%;
}
.ant-layout-content{
  background-color: rgb(250, 249, 255);
  @media (max-width: 700px){
    background-color: #fefefe;
    form.ant-form{
      box-shadow: unset;
    }
  }
  margin-top: 4rem;
  overflow: auto;
  position: relative;
}
.ant-input{
    border-radius: 0;
    margin: 0 auto;
    display: block;
    border: 2px #65ab27 solid;
    &:hover{
      border: 2px #65ab27 solid!important;
      box-shadow: 0 6px 25px 0 rgba(75, 157, 11, 0.2);
    }
    &:focus{
      border-right-width: 2px !important;
      box-shadow: unset;
    }
}
.has-error{
  .ant-input:focus{
    border-color: #f5222d;
    border-width: 2px;
    box-shadow: unset;
    border-right-width: 2px !important;
  }
}
.ant-popover{
  z-index: 100;
  .ant-popover-inner{
    border-radius: 0;
  }
  .ant-popover-title{
    padding: 0;
    border-bottom: none;
    font-size: 20px;
    letter-spacing: 0.35px;
  }
  .ant-popover-inner-content{
    padding: 0;
  }
}
.ant-dropdown-trigger{
  cursor: pointer;
}
.ant-layout-sider-children{
  display: block;
  position: relative;
  height: auto
}
