#nprogress .bar {
  background: #ee6c4d;
  height: 5px
}

#nprogress .peg {
  -webkit-box-shadow: 0 0 10px #ee6c4d, 0 0 5px #ee6c4d;
        box-shadow: 0 0 10px #ee6c4d, 0 0 5px #ee6c4d;
}
#nprogress .spinner-icon {
  margin-top: 10px;
  border-top-color: #ee6c4d;
  border-left-color: #ee6c4d;
}
// #font-size10{
//   font-size: 14px;
//   transform: scale(0.71);
// }
